<ul>
{% for child in children %}
<li class="{% if child.selected %}selected{% endif %}{% if child.ancestor %}ancestor{% endif %}{% if child.sibling %}sibling{% endif %}{% if child.descendant %}descendant{% endif %}">
    <a href="{{ child.url }}">{{ child.title }}</a>
    {% if child.children %}
    <ul>
        {% for child2 in child.children %}
        <li class="{% if child2.selected %}selected{% endif %}{% if child2.ancestor %}ancestor{% endif %}{% if child2.sibling %}sibling{% endif %}{% if child2.descendant %}descendant{% endif %}">
            <a href="{{ child2.url }}">{{ child2.title }}</a>
            {% if child2.children %}
            <ul>
                {% for child3 in child2.children %}
                <li class="{% if child3.selected %}selected{% endif %}{% if child3.ancestor %}ancestor{% endif %}{% if child3.sibling %}sibling{% endif %}{% if child3.descendant %}descendant{% endif %}">
                    <a href="{{ child3.url }}">{{ child3.title }}</a>
                    {% if child3.children %}
                    <ul>
                        {% for child4 in child3.children %}
                        <li class="{% if child4.selected %}selected{% endif %}{% if child4.ancestor %}ancestor{% endif %}{% if child4.sibling %}sibling{% endif %}{% if child4.descendant %}descendant{% endif %}">
                            <a href="{{ child4.url }}">{{ child4.title }}</a>
                            {% if child4.children %}
                            <ul>
                                {% for child5 in child4.children %}
                                <li class="{% if child5.selected %}selected{% endif %}{% if child5.ancestor %}ancestor{% endif %}{% if child5.sibling %}sibling{% endif %}{% if child5.descendant %}descendant{% endif %}">
                                    <a href="{{ child5.url }}">{{ child5.title }}</a>
                                    {% if child5.children %}
                                    <ul>
                                        {% for child6 in child5.children %}
                                        <li class="{% if child6.selected %}selected{% endif %}{% if child6.ancestor %}ancestor{% endif %}{% if child6.sibling %}sibling{% endif %}{% if child6.descendant %}descendant{% endif %}">
                                            <a href="{{ child6.url }}">{{ child6.title }}</a>
                                            {% if child6.children %}
                                            <ul>
                                                {% for child7 in child6.children %}
                                                <li class="{% if child7.selected %}selected{% endif %}{% if child7.ancestor %}ancestor{% endif %}{% if child7.sibling %}sibling{% endif %}{% if child7.descendant %}descendant{% endif %}">
                                                    <a href="{{ child7.url }}">{{ child7.title }}</a>
                                                    {% if child7.children %}
                                                    <ul>
                                                        {% for child8 in child7.children %}
                                                        <li class="{% if child8.selected %}selected{% endif %}{% if child8.ancestor %}ancestor{% endif %}{% if child8.sibling %}sibling{% endif %}{% if child8.descendant %}descendant{% endif %}">
                                                            <a href="{{ child8.url }}">{{ child8.title }}</a>
                                                            {% if child8.children %}
                                                            <ul>
                                                                {% for child9 in child8.children %}
                                                                <li class="{% if child9.selected %}selected{% endif %}{% if child9.ancestor %}ancestor{% endif %}{% if child9.sibling %}sibling{% endif %}{% if child9.descendant %}descendant{% endif %}">
                                                                    <a href="{{ child9.url }}">{{ child9.title }}</a>
                                                                </li>
                                                                {% endfor %}        
                                                            </ul>
                                                            {% endif %}
                                                        </li>
                                                        {% endfor %}        
                                                    </ul>
                                                    {% endif %}
                                                </li>
                                                {% endfor %}        
                                            </ul>
                                            {% endif %}
                                        </li>
                                        {% endfor %}        
                                    </ul>
                                    {% endif %}
                                </li>
                                {% endfor %}        
                            </ul>
                            {% endif %}
                        </li>
                        {% endfor %}        
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}        
            </ul>
            {% endif %}
        </li>
        {% endfor %}        
    </ul>
    {% endif %}
</li>
{% endfor %}
</ul>