{% load menu_tags %}
{% load meta_tags %}

{% load_menu %}
{% show_meta_title "Super mega site" %}
{% show_meta_chain "Main" %}
{% show_meta_keywords %}
{% show_meta_description %}
{% show_meta_current %}

{% if item.show_item_name %}
<h2>{{ item.name }}</h2>
{% endif %}

{% if item.image %}
    <a href="{{ item.image.url }}">
    <img src="{{ item.image.extra_thumbnails.main }}" width="{{ item.image.extra_thumbnails.main.width }}" height="{{ item.image.extra_thumbnails.main.height }}" alt="{{ item.name }}">
    </a>
{% endif %}

<p>{{ item.text|safe }}</p>

{% if item.show_node_link %}
<a href="{{ item.get_absolute_url_for_node }}{{ query_string.full.full }}">back to node</a>
{% endif %}

<h2>Complete navigation</h2>
{% show_menu 0 100 100 100 %}