{% load menu_tags %}
{% load meta_tags %}
{% load_menu %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ru">
    <head>
        <!-- TITLE, KEYWORDS, DESCRIPTION -->
        <title></title>
        <!-- // TITLE, KEYWORDS, DESCRIPTION -->
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
    </head>
    <body>
        <pre>
            {% block title %}{% show_meta_title "Main title" %}{% endblock %}
            {% show_meta_keywords "Main keyword" %}
            {% show_meta_description "Main description" %}
        </pre>

        <!-- BREADCRUMBS -->
        {% block breadcrumbs %}{% show_meta_chain "Главная" %}{% endblock %}
        <!-- // BREADCRUMBS -->
        
        <div class="cntLayout">
            <!--NAVIGATION RIGHT-->
            {% block navigation_side %}{% show_menu 0 10 10 10 "menus/menu.html" %}{% endblock %}
            <!--// NAVIGATION RIGHT-->

            <div id="content">
                <!-- H1 CURRENT SECTION NAME -->
                {% block current %}{% show_meta_current %}{% endblock %}
                <!-- // H1 CURRENT SECTION NAME -->
                {% block content %}{% endblock %}
            </div>
        </div>

        {% block scripts %}
        {% endblock %}
    </body>
</html>